<h2>List of Players</h2>

<table id="tbPlayers" class="table">
    <thead>
        <tr>
            <th>Player Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Position</th>
            <th>Strong Leg</th>
            <th>Age</th>
            <th>Number</th>
        </tr>
    </thead>

    <tbody>

    </tbody>

</table>
