<h2>Create Players</h2>
Name: <input id="name" type="text" name="name">
<br />
Surname: <input id="surname" type="text" name="surname">
<br />
Position: <input id="position" type="text" name="position">
<br />
Strong Leg: <input id="strongLeg" type="text" name="strongLeg">
<br />
Age: <input id="age" type="text" name="age">
<br />
Number: <input id="number" type="text" name="number">
<br />
<br />
<input id="save" type="button" value="Save">

<h2>List of Players</h2>

<table id="tbPlayers" class="table">
    <thead>
        <tr>
            <th class="hideId">Player Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Position</th>
            <th>Strong Leg</th>
            <th>Age</th>
            <th>Number</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    </tbody>

</table>
