@section scripts{
    @Scripts.Render("~/bundles/crud-js")
}


<h2>Create Players</h2>
Name: <input id="nameFormulay" type="text" name="name">
<br />
Surname: <input id="surnameFormulay" type="text" name="surname">
<br />
Position: <input id="positionFormulay" type="text" name="position">
<br />
Strong Leg: <input id="strongLegFormulay" type="text" name="strongLeg">
<br />
Age: <input id="ageFormulay" type="text" name="age">
<br />
Number: <input id="numberFormulay" type="text" name="number">
<br />
<br />
<input id="create" type="button" value="Save" class="button" onclick="createNewPlayer();">
<input id="clean" type="button" value="Cancel" class="button" onclick="cleanFormulary();">
<input id="update" type="button" value="Update" onclick="changePlayerDatas();">


<h2>List of Players</h2>

<table id="tbPlayers" class="table">
    <thead>
        <tr>
            <th class="hideId">Player Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Position</th>
            <th>Strong Leg</th>
            <th>Age</th>
            <th>Number</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody id="dynamicTr"></tbody>

</table>

