@section scripts{
    @Scripts.Render("~/bundles/crud-ko")
}

<h2>Create Players</h2>

<form class="Contenedor">
    <p>
        <label class="sideForm" for="">Name:</label>
        <input data-bind="textInput: playerUpdate.name" type="text" name="name">
    </p>

    <p>
        <label class="sideForm" for="">Surname:</label>
        <input data-bind="textInput: playerUpdate.surname" type="text" name="surname">
    </p>

    <p>
        <label class="sideForm" for="">Position:</label>
        <input data-bind="textInput: playerUpdate.position" type="text" name="position">
    </p>

    <p>
        <label class="sideForm" for="">Strong Leg:</label>
        <input data-bind="textInput: playerUpdate.strongLeg" type="text" name="strongLeg">
    </p>

    <p>
        <label class="sideForm" for="">Age:</label>
        <input data-bind="textInput: playerUpdate.age" type="text" name="age">
    </p>

    <p>
        <label class="sideForm" for="">Number:</label>
        <input data-bind="textInput: playerUpdate.playerNumber" type="text" name="number">
    </p>
    <br />
    <input data-bind= "click: putNewPlayerIntable" type="button" value="Save" class="button">
    <input data-bind= "click: clean" type="button" value="Cancel" class="button">
    <input data-bind= "click: updatePlayerInTable" type="button" value="Update">
</form>

<h2>List of Players</h2>

<table id="tbPlayers" class="table">
    <thead>
    <tr>
        <th class="hideId">Player Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Position</th>
        <th>Strong Leg</th>
        <th>Age</th>
        <th>Number</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: players">
        <tr>
            <td class="hideId" data-bind="tetx: playerId"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: surname"></td>
            <td data-bind="text: position"></td>
            <td data-bind="text: strongLeg"></td>
            <td data-bind="text: age"></td>
            <td data-bind="text: playerNumber"></td>
            <td data-bind="click: $root.remove"><a href="#">Delete</a></td>
            <td data-bind="click: $root.update"><a href="#">Update</a></td>
        </tr>
    </tbody>
</table>

